.div {
    margin-right:400px;margin-left:400px;; background-color:white; border:2px solid black;
}
body {
    background-color:beige;
}
h1 {
    text-align: center;
    font-size:50px;
}
.paragraph {
    text-align:center;
}
form {
    margin-left:100px;
    font-size: 20px;
}
#text {
    height: 20px;
    width:200px;
}
#address {
    width:370px;
    height: 20px;
}
.input {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; /* Adjust the gap between inputs as needed */
}
#city {
    height:20px;
    width:160px;
}
#zipcode {
    height:20px;
}
#country {
    height:20px;
    width:150px;
}
#phoneh {
    height:20px;
    width:150px;
}
#fax {
    height:20px;
    width:150px;
}
#phonew {
    height:20px;
    width:150px;
}
#email {
    height: 20px;
    width:200px;
}
#company {
    height: 20px;
    width:200px;
}
#designation {
    height:20px;
    width:200px;
}
#assignment {
    border-radius:6px;
    padding: 12px 20px;
    background-color:rgb(0, 60, 255);
    font-size:20px;
    color:white;
    border:none;
}
#assignment:hover {
    background-color:rgb(0, 30, 128);
    transition: opacity .15s ease-in-out;
    cursor:pointer;
}
#reset {
    border-radius:6px;
    padding: 12px 20px;
    background-color:rgb(112, 112, 112);
    font-size:20px;
    color:white;
    border:none;
}
#reset:hover {
    background-color:rgb(64, 64, 64);
    transition: opacity .15s ease-in-out;
    cursor:pointer;
}
